<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.ArticleInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="is_top" jdbcType="TINYINT" property="isTop" />
    <result column="traffic" jdbcType="INTEGER" property="traffic" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>

    <select id="getArticleByCategoryAndSearchAndPage" resultType="top.vergessen.blog.domain.ArticleInfo">
      SELECT id,title,summary,tags,is_top,traffic,create_by
      FROM tbl_article_info
      WHERE id = id
      <if test="category != ''">
        AND id IN (SELECT article_id FROM tbl_article_category WHERE category_name = #{category})
      </if>
      <if test="search != ''">
        AND (title LIKE CONCAT('%',#{search},'%') OR summary LIKE CONCAT('%',#{search},'%') OR tags LIKE CONCAT('%',#{search},'%'))
      </if>
      <if test="isTop == true">
          ORDER BY is_top DESC, create_by DESC
      </if>
      <if test="isTop == false">
          ORDER BY create_by DESC
      </if>
    </select>
    <select id="getTitleById" resultType="java.lang.String">
        SELECT title
        FROM tbl_article_info
        WHERE id = #{articleId}
    </select>
    <select id="getArticleHasComment" resultType="top.vergessen.blog.domain.ArticleInfo">
        SELECT id,title
        FROM tbl_article_info
        WHERE id IN (
            SELECT article_id FROM tbl_article_comment GROUP BY article_id
        ) ORDER BY create_by DESC
    </select>

    <update id="increaseViewNum">
      UPDATE tbl_article_info SET traffic = traffic + 1 WHERE id = #{articleId};
    </update>
</mapper>
