<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.ArticleCommentMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.ArticleComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="parent_comment_id" jdbcType="BIGINT" property="parentCommentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="is_effective" jdbcType="TINYINT" property="isEffective" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>
</mapper>
