<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.CategoryInfoMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.CategoryInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="is_effective" jdbcType="TINYINT" property="isEffective" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>

    <select id="selectAllByNumber" resultType="top.vergessen.blog.domain.CategoryInfo">
        SELECT id,name,number,picture_url,create_by
        FROM tbl_category_info
        WHERE is_effective = 1
        ORDER BY number DESC
    </select>
    <select id="selectAllCategoryNumNotZero" resultType="top.vergessen.blog.domain.CategoryInfo">
        SELECT id,name,number,picture_url,create_by
        FROM tbl_category_info
        WHERE is_effective = 1 AND number != 0
        ORDER BY number DESC
    </select>

    <update id="increaseNumByTag">
        UPDATE tbl_category_info SET number = number + 1 WHERE name = #{tag};
    </update>
    <update id="decreaseNumByTag">
        UPDATE tbl_category_info SET number = number - 1 WHERE name = #{tag};
    </update>
</mapper>
