<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.GoodArticleMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.GoodArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>


    <select id="selectAllLinks" resultType="top.vergessen.blog.domain.GoodArticle">
      select id,title,url,create_by,email
      FROM tbl_good_article
      WHERE state = #{state}
      ORDER BY create_by DESC
    </select>
</mapper>
