<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.Picture">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="picture_url_small" jdbcType="VARCHAR" property="pictureUrlSmall" />
    <result column="picture_type" jdbcType="TINYINT" property="pictureType" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>

    <select id="getRandomPic" resultMap="BaseResultMap">
        SELECT picture_url,picture_url_small FROM tbl_picture
        WHERE picture_type = #{type} ORDER BY rand() LIMIT #{num}
    </select>
</mapper>
