<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vergessen.blog.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="top.vergessen.blog.domain.Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="res_key" jdbcType="VARCHAR" property="resKey" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
</mapper>
