<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="MyBlog 一个开源的的博客项目 By Vergessen">
        <meta name="keywords" content="Vergessen Java Spring Golang 编程 开源 学习ing 博客 Vue">

        <!-- Title -->
        <title th:text="${category}+' - '+${username}"></title>
        <!-- Favicon -->
        <link rel="icon" th:href="@{${logo}}">

        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/fonts/flaticon.css">
        <!-- Main Style Css -->
        <link rel="stylesheet" href="/css/main.css">
        <!--mycss Style Css-->
        <link rel="stylesheet" href="/css/mycss.css">
		<!-- Inner Pages Style Css -->
        <link rel="stylesheet" href="/css/inner-pages.css">
        <style>
            canvas {
                position: fixed;
                width: 100%;
                z-index: -1;
                overflow: hidden;
                opacity: revert;
                -ms-scroll-snap-x: revert;
            }
            .blog .post-img img{
                border-radius: 0;
            }
            .blog{
                min-height: 0;
            }
        </style>
        <script>
            window.onload = function () {
                // 搜索按钮
                $('#searchBtn').click(function () {
                    let searchContent = $("#searchContent").val();
                    if (searchContent)
                        window.location = "/search/" + searchContent;
                });
            }
        </script>
    </head>
    <body>
    <!-- partial -->
        <!-- ========== Start Loading ========== -->
    <div class="preloader">
            <div class="status">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>

        <!-- ========== End Loading ========== -->

        <!-- ========== Start Page Title ========== -->
        <canvas id="canvas"></canvas>
        <div class="page-title" id="page-title" th:style="'background: url('+${blogImg}+')top center no-repeat; background-size: cover;'">
			<div class="overlay">
				<div class="container">
					<div class="content">
						<h2>Blog Posts</h2>
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
                            <li class="two"><a href="/blog/all">Blog</a></li>
							<li id="category" th:text="${category}"></li>
						</ul>
					</div>
				</div>
			</div>
        </div>

        <!-- ========== End Page Title ========== -->

        <div class="row blog-navigition">
            <div class="col-lg-3 col-sm-12"></div>
            <div class="blog col-lg-3 col-sm-12" id="blog-search" style="margin-left: 50px;padding-right: 20px;">
                <div class="blog-sidebar">
                    <div class="sidebar-search">
                        <div class="form-group" style="margin-bottom: 3px">
                            <input class="form-control" id="searchContent" name="search-field" placeholder="Search..." required="">
                            <button class="search-btn" id="searchBtn" οnclick="onClick()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12" style="text-align:center">
                <div class="dropdown menu-category" style="float: left;margin-left: 60px">
                    <button type="button" class="btn dropdown-toggle menu-btn" id="dropdownMenu1" data-toggle="dropdown">
                        分类<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu menu-ul" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" >
                            <a role="menuitem" tabindex="-1" href="/blog/all">&nbsp全部</a>
                        </li>
                        <li role="presentation" th:each="item,stat:${categorys}">
                            <a role="menuitem" tabindex="-1" href="#" th:href="@{'/blog/'+${item.name}}" th:text="'&nbsp'+${item.name}"></a>
                        </li>
                    </ul>
                </div>
                <ul class="pagination paging" >
                    <li class="page-item"><a class="page-link" href="#" th:href="@{${Previous}}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" th:href="@{${Next}}">
                        &nbsp&nbsp&nbspNext&nbsp&nbsp </a></li>
                </ul>
            </div>

        </div>

		<!-- ========== Start Blog ========== -->

			<div class="blog" id="blog">
				<div class="container">
					<div class="row" id="articleList-p">
                        <div class="col-lg-4 col-md-12 col-xs-12" th:each="item,index:${articles}" th:if="${index.index < 6}">
                            <div class="post" >
                                <!-- Post Image -->
                                <div class="post-img">
                                    <img class="img-fluid article-pic" th:src="@{${item.pictureUrl}}">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-title">
                                        <a th:href="@{'/article/v/'+${item.id}}" target="_blank">
                                            <h4>
                                                <span th:text="${item.title}"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="post-text">
                                        <p th:text="${item.summary}"></p>
                                    </div>
                                    <div style="height: 50px">
                                        <span style="float: left;">
                                            <div>
                                                <i class="fa fa-calendar" aria-hidden="true" style="color: #b3a341"></i>
                                                <span class="post-date" th:text="${#temporals.format(item.createBy, 'yyyy-MM-dd')}"></span>
                                                <i class="fa fa-eye" aria-hidden="true" style="color: #b3a341;margin-left: 10px"></i>
                                                <span class="post-date" th:text="${item.traffic}"></span>
                                            </div>
                                            <i class="fa fa-tags" aria-hidden="true" style="color: #b3a341"></i>
                                            <span th:each="tag,index:${item.tags}">
                                                <a th:href="@{'/blog/'+${tag}}" target="_blank">
                                                    <span th:if="${index.index < 3}" th:text="${tag}" class="post-tag"></span>
                                                </a>
                                            </span>
                                        </span>
                                        <span style="float: right;">
                                            <a th:href="@{'/article/v/'+${item.id}}" target="_blank" class="post-more">阅读全文</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
            <div class="footer" th:utext="${records}">
            </div>


			<!-- ========== End Blog ========== -->

        <!-- ========== Js ========== -->
        <script src="/js/bk.js"></script>
        <script src="/js/custom.js"></script>
        <!--<script src="../js/pages/blog.js"></script>-->
    </body>
</html>
