<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="baidu-site-verification" content="BKglFqxD3Z" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="MyBlog 一个开源的的博客项目 By Vergessen">
        <meta name="keywords" content="Vergessen Java Spring Golang 编程 开源 学习ing 博客 Vue">

        <!-- Title -->
        <title th:text="${username} + '的博客'"></title>
        <!-- Favicon -->
        <link rel="icon" th:href="@{${logo}}">

        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="fonts/flaticon.css">
        <!--<link rel="stylesheet" href="css/magnific-popup.css">-->
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Main Style Css -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/mycss.css">
        <!-- ========== Js ========== -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/1.1.7/typed.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>

        <script src="js/pages/index.js"></script>
        <style>
            canvas {
                position: fixed;
                width: 100%;
                max-height: 820px;
                z-index: 1;
                overflow: hidden;
                opacity: revert;
            }
            .blog .post-img img{
                border-radius: 0;
            }
        </style>
    </head>
    <body>
        <!-- ========== Start Loading ========== -->
        <div class="preloader">
            <div class="status">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>

        <!-- ========== End Loading ========== -->

        <!-- ========== Start Navbar ========== -->

		<div class="vertical-nav">
			<!-- Logo -->
			<a class="logo" href="#">O<span>z</span></a>
		    <!-- Toggle Menu -->
			<button class="toggle-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
			<!-- Mini Menu -->
            <div class="mini-menu">
				<ul class="list-unstyled">
					<li><a class="active" href="#home"><i class="flaticon-door"></i></a></li>
					<li><a href="#about"><i class="flaticon-icon"></i></a></li>
					<li><a href="#portfolio"><i class="flaticon-squares"></i></a></li>
					<li><a href="#blog"><i class="flaticon-blogging"></i></a></li>
                    <li><a href="#friends"><i class="fa fa-user-plus"></i></a></li>
                    <li><a href="#link"><i class="fa fa-star"></i></a></li>
					<li><a href="#contact"><i class="fa fa-commenting-o"></i></a></li>
				</ul>
			</div>
        </div>

        <!-- ========== End Navbar ========== -->
		<div class="page-content">
		    <div class="container-fluid">
			    <div class="row">
				    <div class="col-lg-4 d-none d-lg-block no-padding">
					    <div class="main-img" th:style="'background: url('+${homeImg}+')top center no-repeat; background-size: cover;'"></div>
				    </div>

				    <div class="col-lg-8 no-padding">

			            <!-- ========== Start Home ========== -->
					    <section class="home active" id="home">
				            <div class="container-fluid area-bg">
                                <canvas id="canvas"></canvas>
								<div id="particles-js"></div>
					            <div class="home-intro d-flex h-100 align-items-center">
						            <div class="home-info">
							            <h3>嗨, 我是</h3>
                                        <h1 th:text="${username}"></h1>
                                        <p>One Program-Loving <span></span></p>
                                        <!-- ========== My Tag ========== -->
                                        <span id="my-tags" hidden th:text="${myTags}"></span>
							            <a href="/blog/all" class="main-btn">博客首页</a>
						            </div>
					            </div>
				            </div>
                        </section>

			            <!-- ========== End Home ========== -->
						<!-- ========== Start About ========== -->
						<section class="about area-bg" id="about">
							<!-- ========== Start About Me ========== -->
							<div class="about-me container">
								<div class="main-title">
									<h3>Discover</h3>
									<h2>About Me</h2>
								</div>
								<div class="row">
									<div class="col-md-5 d-block d-lg-none">
										<div class="about-image">
											<img class="img-fluid" th:src="@{${homeImg}}" alt="">
										</div>
									</div>
									<div class="col-lg-12 col-md-7">
										<div class="about-info" style="margin: 0px 25px 0px;" th:utext="${personalInformation}">

										</div>
									</div>
								</div>
							</div>
							<!-- ========== End About Me ========== -->

							<!-- ========== Start Services ========== -->
							<div class="services container">
								<div class="main-title">
									<h2>关于我</h2>
								</div>
								<div class="row" th:utext="${aboutMe}">

								</div>
							</div>
							<!-- ========== End Services ========== -->

							<!-- ========== Start Skills ========== -->
							<div class="skills container">
								<div class="main-title">
									<h2>我的技术栈</h2>
								</div>
								<div class="row">
                                    <div class="col-xl-2 col-sm-3" th:each="item:${technologies}">
                                        <div class="box">
                                            <div class="chart" data-percent="0">
                                                <img th:src="@{${item.pictureUrl}}"
                                                        style="width: 95%;height: 95%;border-radius: 50%;display: inline-table">
                                            </div>
                                            <h4 th:text="${item.name}"></h4>
                                        </div>
                                    </div>
                                </div>
							</div>
							<!-- ========== End Skills ========== -->

						</section>

						<!-- ========== End About ========== -->


						<!-- ========== Start Portfolio ========== -->

						<section class="portfolio area-bg" id="portfolio">
							<div class="container-fluid">
								<div class="main-title">
									<h3>Category</h3>
									<h2>My Blog</h2>
								</div>
                                <div class="portfolio-content">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 category-container" th:each="item:${categorys}">
                                            <div class="item" style="display: inline-table;box-shadow: 0 5px 12px 0 rgba(255, 255, 255, .12);">
                                                <img class="category-img" th:src="@{${item.pictureUrl}}">
                                                <a th:href="@{'/blog/'+${item.name}}">
                                                    <div class="overlay">
                                                        <h2 class="item-title" th:text="${item.name}"></h2>
                                                        <div class="item-category">
                                                            <span style="color: #f9c828;font-size: 11px" th:text="${item.number}"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</section>

						<!-- ========== End Portfolio ========== -->

						<!-- ========== Start Blog ========== -->

						<section class="blog area-bg" id="blog">
							<div class="container">
								<div class="main-title">
									<h3>Latest Posts</h3>
									<h2>My Blog</h2>
								</div>
								<div class="row" id="articles">
                                    <div class="col-lg-4 col-md-12 col-xs-12" th:each="item:${articles}">
                                        <div class="post" >
                                            <!-- Post Image -->
                                            <div class="post-img">
                                                <img class="img-fluid article-pic" th:src="@{${item.pictureUrl}}">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <div class="post-title">
                                                    <a th:href="@{'/article/v/'+${item.id}}" target="_blank">
                                                        <h4 >
                                                            <span style="color: yellow;font-size: 16px" th:if="${item.isTop eq 1}">【置顶】</span>
                                                            <span th:text="${item.title}"></span>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div class="post-text">
                                                    <p th:text="${item.summary}"></p>
                                                </div>
                                                <div style="height: 50px">
                                                    <span style="float: left;">
                                                        <div>
                                                            <i class="fa fa-calendar" aria-hidden="true" style="color: #b3a341"></i>
                                                            <span class="post-date" th:text="${#temporals.format(item.createBy, 'yyyy-MM-dd')}"></span>
                                                            <i class="fa fa-eye" aria-hidden="true" style="color: #b3a341;margin-left: 10px"></i>
                                                            <span class="post-date" th:text="${item.traffic}"></span>
                                                        </div>
                                                        <i class="fa fa-tags" aria-hidden="true" style="color: #b3a341"></i>
                                                        <span th:each="tag,index:${item.tags}">
                                                            <a th:href="@{'/blog/'+${tag}}">
                                                                <span th:if="${index.index < 3}" th:text="${tag}" class="post-tag"></span>
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <span style="float: right;">
                                                        <a th:href="@{'article/v/'+${item.id}}" target="_blank" class="post-more">阅读全文</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="my-btn">
									<a href="/blog/all" class="main-btn">全部博文</a>
								</div>
							</div>
						</section>

						<!-- ========== End Blog ========== -->

                        <!-- ========== Start Friend ========== -->

                        <section class="resume area-bg" id="friends">
                            <div class="container">
                                <div class="main-title">
                                    <h2 style="font-size: 38px; margin-right: 50px">
                                        友&amp链</h2>
                                    <span id="apply-friend" class="apply-friend">
                                        <button class="main-btn s-btn">申请友链</button>
                                    </span>
                                    <!--友链申请对话框-->
                                    <div id="apply-friend-dia" hidden>
                                        <div class="contact" style="padding: 20px;background: #121213">
                                            <form id="apply-friend-form" class="contact-form" onsubmit="return applyFriend()">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="friend-nickname" name="nickname" size="20" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="friend-nickname">昵称</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="friend-detail" name="detail" size="20" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="friend-detail">自我介绍</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="friend-url" name="url" size="100" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="friend-url">网站地址</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="friend-photo" name="photo" size="100" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="friend-photo">头像地址</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="friend-email" size="50" name="email" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="friend-email">邮箱</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <!-- Button Send Message  -->
                                                <button class="contact-btn main-btn btn btn-block" type="submit" name="send">提交申请</button>
                                            </form>
                                            <div style="color: #a8b1b1; border: 1px #f9c828 solid; padding: 5px;border-radius: 12px" th:utext="${friendInfo}">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="my-friends">
                                    <div class="row">
                                        <div class="col-xl-6" th:each="item,index:${friends}" style="padding: 10px 30px;" >
                                            <a th:href="@{${item.url}}" target="_blank">
                                                <div style="float:left;">
                                                    <img th:src="@{${item.photo}}"/>
                                                </div>
                                                <div class="friendDetail" style="float:left;">
                                                    <p th:text="${item.name}" style="padding-top: 20px;padding-left: 13px;"></p>
                                                    <p th:text="${item.detail}" style="font-size:15px;"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- ========== End Friend ========== -->

                        <section class="resume area-bg" id="link">
                            <div class="container">
                                <div class="main-title">
                                    <h2 style="font-size: 38px; margin-right: 50px">
                                        优质博客分享</h2>
                                    <span id="apply-good-link" class="apply-friend">
                                        <button class="main-btn s-btn">申请外链</button>
                                    </span>
                                    <!--外链申请对话框-->
                                    <div id="apply-good-link-dia" hidden>
                                        <div class="contact" style="padding: 20px;background: #121213">
                                            <form id="apply-good-link-form" class="contact-form" onsubmit="return applyLink()">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="link-title" name="title" size="20" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="link-title">博文标题</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="link-url" name="url" size="20" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="link-url">博文地址</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="link-email" size="50" name="email" required value="" onkeyup="this.setAttribute('value', this.value);">
                                                    <label for="link-email">邮箱</label>
                                                    <span class="input-border"></span>
                                                </div>
                                                <!-- Button Send Message  -->
                                                <button class="contact-btn main-btn btn btn-block" type="submit" name="send">提交申请</button>
                                            </form>
                                            <div style="color: #a8b1b1; border: 1px #f9c828 solid; padding: 5px;border-radius: 12px">
                                                <div>欢迎您的贡献 !</div>
                                                <div>填加成功后会有邮件提示哦.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="" style="">
                                    <div id="link-list" class="row">
                                        <div class="col-lg-12" th:each="item:${goodLinkList}" style="margin-bottom: 25px">
                                            <a class="good-link" th:href="@{${item.url}}" target="_blank">
                                                <span th:text="${item.title}"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="text-align: center" th:if="${goodLinkList.size() == 15}">
                                        <button id="load-link" class="main-btn" >加载更多</button>
                                    </div>
                                </div>
                            </div>
                        </section>

						<!-- ========== Start Contact ========== -->

						<section class="contact area-bg" id="contact">
							<div class="container">
								<div class="main-title">
									<h1>留言板</h1>
									<h2></h2>
								</div>
								<div class="row">
                                    <div class="col-xl-5 col-lg-12">
                                        <div id="next-msg" class="next-msg">
                                            <i class="fa fa-repeat" aria-hidden="true">换一批</i>
                                        </div>
                                        <div id="msg-list" class="contact-boxes" style="min-height: 560px">
                                            <div class="contact-box" th:each="item:${messages}">
                                                <h4 class="title-box" th:text="${item.name}"></h4>
                                                <div class="content-box">
                                                    <p>
                                                        <i class="fa fa-commenting" th:text="'&nbsp&nbsp' + ${item.message}"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="col-xl-7 col-lg-12" style="margin: 0 auto 0;box-shadow: 0 3px 3px 3px rgba(255, 255, 255, 0.2);padding: 30px 66px;">
										<form class="contact-form" onsubmit="return addMessage()">
											<div class="form-group">
												<input type="text" class="form-control" id="msg-name" name="name" size="20" required value="" onkeyup="this.setAttribute('value', this.value);">
												<label for="msg-name">昵称</label>
												<span class="input-border"></span>
											</div>
											<div class="form-group">
												<input type="email" class="form-control" id="msg-email" size="50" name="email" required value="" onkeyup="this.setAttribute('value', this.value);">
												<label for="msg-email">邮箱</label>
												<span class="input-border"></span>
											</div>
											<div class="form-group">
												<textarea class="form-control" id="message" name="message" size="1000" required data-value="" onkeyup="this.setAttribute('data-value', this.value);"></textarea>
												<label for="message">留言信息</label>
												<span class="input-border"></span>
											</div>
											<!-- Button Send Message  -->
											<button class="contact-btn main-btn btn btn-block" id="submit" type="submit" name="send">发送留言</button>
										</form>
									</div>
								</div>
							</div>
						</section>
						<!-- ========== End Contact ========== -->
				    </div>
			    </div>

			</div>

		</div>
	    <!-- ========== Start Copyright ========== -->
	    <div class="copyright d-none d-md-block" th:utext="${leftInfo}">

		</div>
        <div style="width: 100%;color: #dcbc8f;font-size: 10px;text-align: center;" th:utext="${records}">

        </div>
    <!-- ========== End Copyright ========== -->
        <script>
            $(document).ready(function () {
                // 动态渲染分类图片的宽度高度 等待图片加载1.5s
                setTimeout(function () {
                    let pixel = 0.6;
                    const blogCategory = $('.category-container');
                    if (blogCategory.length < 16){
                        for(let i = 0; i < blogCategory.length; i++)
                            blogCategory[i].setAttribute('class','col-lg-3 col-md-4 col-sm-6 col-xs-12 category-container');
                        pixel *= 1.5;
                    }
                    const imgs = $('.category-img');
                    for(let i = 0; i < imgs.length; i++){
                        let height = imgs[i].width * pixel;
                        // height = height < 50 ? 167 * pixel : height;
                        imgs[i].style.height = height + 'px';
                    }
                    const articlePic = $('.article-pic');
                    for(let i = 0; i < articlePic.length; i++){
                        let height = articlePic[i].width * 0.66;
                        articlePic[i].style.height = height + 'px';
                    }
                }, 1500);
            })
        </script>
        <script src="js/jquery.easypiechart.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/app.js"></script>
        <script src="js/bk.js"></script>
    </body>
</html>
